<ul class="products_ul">
<%
  if @taxon.id
    products = @taxon.products.available
  else
    products = Spree::Product.available
  end
  
  #collect the pts for this taxon from each product 
  product_taxons = products.collect {|p| p.product_taxons.where(:taxon_id => taxon.id || 0).first }
%>
<% unless product_taxons.nil? %>
<% product_taxons.compact.each do |pt| %>
  <li id="product_taxons_<%=pt.id%>">
   <span class="handle">≡</span>
   <%= image_tag pt.product.images.first.attachment.url(:mini) unless pt.product.images.empty? %>
   <%= h pt.product.name %>
  </li>
<% end %>
</ul>
<% end %>