<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<h1><%= t('positions_for_products_in_taxons') %></h1>

  <h2><%= @taxon.name %></h2>
  
  <%= render :partial=> 'product_list', :locals => {:taxon => taxon} %>
	<% content_for :head do %>
	  <script type="text/javascript">
			jQuery(document).ready(function(){
			  $('.products_ul').sortable(
			    { items:'li',
			      containment:'parent',
			      axis:'y',
			      handle:'.handle',
			      update: function(){
			        $.post('/admin/taxons/reorder_products/<%=taxon.id || 0%>',
			               '_method=put&'+$(this).sortable('serialize'))
			      }
			    }
			  )
			});
	  </script>
	<% end %>
