<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<h1><%= t('positions_for_products_in_taxons') %></h1>

<ul class="taxons_ul">

<% @taxons.each do |t| %>
  <li id="taxons_<%=t.id%>">
   <span class="handle">≡</span>
   <%= h t.name %>
   
   <ul class="taxons_ul" >
   	<% t.children.each do |tc| %>
   	<li id="taxons_<%= tc.id %>">
   		<span class="handle">></span>
   		<% if tc.children.empty? %>
   			<%#= link_to tc.name, admin_product_position_url(tc) %>
			<%= link_to tc.name, (admin_product_sort_url  + '?taxon_id=' + tc.id.to_s) %>
   		<% else %>
   			<%= h tc.name %>
   		<% end %>
   		
   		   <ul class="taxons_ul" >
		   	<% tc.children.each do |tcc| %>
		   	<li id="taxons_<%= tcc.id %>">
	   			<span class="handle">></span>
   				<% if tcc.children.empty? %>
   					<%= link_to tcc.name, (admin_product_sort_url + '?taxon_id=' + tcc.id.to_s) %>
   				<% else %>
   					<%= h tcc.name %>
   				<% end %>
   			</li>
   			<% end %>
   		   </ul>

   		
   	</li>
   	<% end %>
   </ul>
   
  </li>
<% end %>
</ul>